package ${package_name}.rpc.api;

import com.qingchen.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* \
* \                                                 )
* \                                               (  (
* \                                              ) ) )
* \                  ......,.....................)  )
* \                 |.....|..................... ))
* \                                 [[[_________________________________]]]
* \                                         Blog: www.qingchen.red
* \                                          Created by PhpStorm.
* \                                            Date: ${ctime}
* \                                              User: 清晨
* \
*/



/**
* ${model}Service接口
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}